# Gradle
.gradle/
.kotlin/
kotlin-js-store/*
!kotlin-js-store/wasm/
kotlin-js-store/wasm/*
!kotlin-js-store/wasm/yarn.lock
build/
**/build/

# IntelliJ IDEA
.idea/
*.iml
out/

# Kotlin/Native
.konan/

# Local environment
local.properties
.env
.env.*
!.env.production.example
.DS_Store
