<configuration>
    <property name="LOG_LEVEL" value="${DEVICE_AS_MCP_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="io.lettuce.core" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache.hc" level="WARN"/>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
